<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>dis sys a chat room</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<link rel="stylesheet" href="style.css">
	<script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="js/lib/handlebars.min-latest.js"></script>
  <script src="js/lib/moment.min.js"></script>

	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script src="js/client.js"></script>
	<script src="js/display.js"></script>

	<script id="chat-template" type="text/x-handlebars-template">
		<div class="chat" data-room-id="{{roomId}}">
			<div class="chat-header">
				<div class="dropdown menu">
					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Menu
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#" id="pause-room">Pause Room</a></li>
						<li><a href="#" id="resume-room">Resume Chat</a></li>
						<li><a href="#" id="leave-room">Leave Room</a></li>
					</ul>
				</div>
				<h1 class="room-name">
          {{roomName}}
          <span class="glyphicon glyphicon-volume-off text-muted hidden-first" id="paused"></span>
        </h1>
				<hr>
			</div>
			<div class="chat-form">
				<form id="chat-message-form">
					<div class="input-group">
						<input type="text" id="chat-text" class="form-control" name="message" value="">
						<span class="input-group-btn">
							<button type="submit" name="send" class="btn btn-success" id="chat-send">Send <span class="fa fa-send"></span></button>
						</span>
					</div>
				</form>
			</div>
			<div id="chat-area">
			</div>
		</div>
	</script>

	<script id="msg-template" type="text/x-handlebars-template">
		<div class="chat-message {{#if self}}self{{/if}} {{#if server}}server{{/if}}">
			<div class="chat-username">
				{{#if self}}
				<span class="chat-time">{{time}}</span> {{username}}
				{{else}}
				{{#unless server}}{{username}}{{/unless}} <span class="chat-time">{{time}}</span>
				{{/if}}
			</div>
			<div class="chat-content">
				{{message}}
			</div>
		</div>
	</script>

	<script id="room-template" type="text/x-handlebars-template">
		<a href="#" data-room-id="{{roomId}}" class="room">
			<span class="room-name">{{roomName}}</span>
			<span class="label label-danger unread">{{newMessages}}</span>
      <span class="glyphicon glyphicon-volume-off text-muted hidden-first paused"></span>
		</a>
	</script>

	<script id="intro-template" type="text/x-handlebars-template">
		<div class="intro-box">
			<div class="intro-inside">
				<h4>Select a chat room to begin.</h4>
			</div>
		</div>
	</script>

</head>
<body>
	<div class="intro-box login-page">
		<div class="intro-inside">
			<div class="center-box">
				<div class="login-box">
					<span class="app-icon fa fa-comments"></span>
					<h1 class="app-name">DIS-SYS-A-CHAT-APP</h1>
					<form id="login-form">
						<div class="form-group">
							<input type="text" class="form-control" name="username" id="login-username" placeholder="Username">
						</div>
						<button type="submit" name="button" class="btn btn-success btn-block" id="login-btn">Log in</button>
					</form>
				</div>
				<div class="credits-box">
					<b>created by</b>
					<br>ภัทรเศก จิรบวรวิสุทธิ์ 5630469621
					<br>ณัท ภวสันต์ 5631035021
					<br>ธนวิชญ์ ประสงค์พงษ์ชัย 5631045321
					<br>ปรมะ เรืองไรรัตนโรจน์ 5631xxxx21
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid" id="chat-app">
		<div class="row">
			<aside class="col-sm-4 col-md-3 col-xs-3 sidebar">
				<div class="options">
					<span class="user">
						logged in as
						<span id="username"></span>
					</span>
					<div class="options-group">
						<a href="#" data-toggle="tooltip" data-placement="top" id="create-room-btn" title="Create Room">
							<span class="fa fa-plus" data-toggle="modal" data-target=".create-room-modal"></span>
						</a>
						<a href="#" data-toggle="tooltip" data-placement="top" id="join-room-btn" title="Join Room ID">
							<span class="fa fa-sign-in" data-toggle="modal" data-target=".join-room-modal"></span>
						</a>
						<a href="#" data-toggle="tooltip" data-placement="top" id="logout-btn" title="Log Out">
							<span class="fa fa-power-off"></span>
						</a>
					</div>
				</div>
				<h4>Chat Rooms</h4>
				<div id="room-list">
          <div class="alert alert-danger hidden-first" id="connection-lost">
            Connection lost.
          </div>
				</div>
			</aside>
			<div class="col-sm-8 col-md-9 col-xs-9" id="main-box"></div>
		</div>
	</div>

	<div class="modal fade create-room-modal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<form id="create-room-form">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Create New Room</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<input type="text" class="form-control" id="new-room-name" name="room-name" value="" placeholder="New Room Name">
						</div>
						<button type="submit" class="btn btn-success btn-block">Save changes</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade join-room-modal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<form id="join-room-form">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Join Room</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<input type="text" class="form-control" id="join-room-name" name="join-room-name" value="" placeholder="New Room Name">
						</div>
						<button type="submit" class="btn btn-success btn-block">Save changes</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
