body {
	overflow: hidden;
}

h4 {font-weight: bold;}

.hidden-first {display: none;}

.app-icon {
	font-size: 60pt;
	margin-bottom: 10px;
}

.app-name {
	margin: 0;
	font-weight: bold;
	font-size: 16pt;
	margin-bottom: 20px;
}

.sidebar {
	background-color: #3f4663;
	color: #fff;
}

.sidebar h4 {
	height: 20px;
}

.sidebar #room-list {
	height: calc(100vh - 40px);
	padding-bottom: 60px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.sidebar .room {
	display: block;
	padding: 10px 20px;
	margin-bottom: 10px;
	background-color: #435271;
	border-radius: 10px;
}

.sidebar .room.active {
	background-color: #eee;
	color: #000;
}

.sidebar .room:hover {
	background-color: #6b7a97;
}

.sidebar .room a, a:link, a:visited, a:hover {
	color: #fff;
	text-decoration: none;
}

.sidebar .options {
	height: 60px;
	margin-left: -15px;
	text-align: left;
	position: absolute;
	padding: 15px;
	background-color: #3f4663;
	bottom: 0px;
	width: 100%;
}

.sidebar .options .options-group {
	float: right;
}

.sidebar .user {
	color: #6b7a97;
	font-size: 120%;
}

.sidebar #username {
	font-weight: bold;
}

.options .fa {
	color: #6b7a97;
	text-shadow: 0 1px 4px rgba(0,0,0,0.3);
	font-size: 20pt;
	margin-left: 5px;
	margin-right: 5px;
}

.options .fa:hover {
	color: #fff;
}






#main-box {
	height: 100vh;
	padding: 0;
}

.chat {
	height: 100vh;
	position: relative;
}

.chat .chat-header {
	position: absolute;
	top: 0;
	width: 100%;
	padding: 15px;
	height: 80px;
}

.chat .chat-header hr {
	border-color: #ddd;
}

.chat .chat-header .room-name {
	margin-top: 0;
}

.chat .chat-header .dropdown-menu{
	right: 0;
	left: auto;
}

.chat .chat-header .menu {
	float: right;
}

.chat .chat-form {
	height: 65px;
	background-color: #fff;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 15px;
}

.chat #chat-area {
	position: absolute;
	top: 80px;
	height: calc(100vh - 145px);
	overflow-y: scroll;
	box-sizing: border-box;
	width: 100%;
	padding: 0 15px;
}

.chat #chat-area.paused {
	background-color: #ddd;
}

.chat-message {
	text-align: left;
	margin-bottom: 10px;
}

.chat-message.self {
	text-align: right;
}

.chat-message.server {
	text-align: center;
}

.chat-content {
	display: inline-block;
	padding: 6px 12px;
	margin-right: 5px;
	margin-left: 5px;
	border-radius: 10px;
	position: relative;
}

.chat-message:not(.self):not(.server) .chat-content::before {
	position: absolute;
	left: -10px;
	bottom: 0px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 10px 10px;
	border-color: transparent transparent #edeef3 transparent;
	content: '';
}

.chat-message.self:not(.server) .chat-content::after {
	position: absolute;
	right: -10px;
	bottom: 0px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 0 0 10px;
	border-color: transparent transparent transparent #acef90;
	content: '';
}

.chat-message:not(.self):not(.server) .chat-content {
	background-color: #edeef3;
	border-bottom-left-radius: 0;
}

.chat-message.self .chat-content {
	background-color: #acef90;
	border-bottom-right-radius: 0;
}

.chat-message.server .chat-content {
	background-color: #edeef3;
}

.chat-message .chat-time {
	color: #aaa;
	font-size: 80%;
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

.intro-box {
	background-color: #eee;
	color: #c2c2c2;
	display: table;
	width: 100%;
	height: 100vh;
}

.intro-inside {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.intro-inside h4 {
	font-size: 20pt;
}

.center-box {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	max-width: 300px;
	width: 100%;
}

.login-page {
	width: 100%;
	position: fixed;
	z-index: 1000;
	background-color: #3f4663;
}

.login-box {
	padding: 20px;
	background-color: #fff;
	border-radius: 10px;
	margin-bottom: 10px;
}

.login-box input {
	text-align: center;
}

.credits-box {
	color: #92a4c8;
}

.credits-box b {
	margin-bottom: 5px;
	display: inline-block;
}
